<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./parcials/header.ejs"); %>
</head>

<body>
    <%- include("./components/nav.ejs"); %>

        <p>opps page not found!</p>

        <%- include('./Bootstrap/script.ejs') %>
</body>

</html>